.flights-list {
  padding: 0px;
  list-style: none;
}

.flights-list li {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}

.flights-list li h2 {
  margin: 0 0 5px 0;
  font-size: 18px;
}

.flights-list li a {
  margin-top: 10px;
  color: blue;
  display: block;
  text-decoration: none;
}

.flight-info {
  display: flex;
}

.flight-info img {
  float: left;
  margin-right: 10px;
}

.flight-data {
    display: inline-block;
} 